<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../CSS/Home.css"> -->
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="navigation">
            <ul class="list">
                <a><li>Projects</li></a>
                <a><li>Services</li></a>
                <a><li>About us</li></a>
                <a><li>Carrers</li></a>
                <a><li>Blog</li></a>
                <li><button type="button" name="Contact Us"><i class="fa fa-play-circle" aria-hidden="true"></i></button></li>
                <li><button type="button" name="Contact Us">Contact Us</button></li>
            </ul>
        </nav>

    </div>
    <di>
        <h1>Results focused design &
            development agency.</h1>
        </di>
        <p>Extend your team with our high performing specialists or hire us to shape your product from scratch. Either way, we’ll get your product off the ground and build a momentum for your success.</p>

</body>
</html>